<header>
    <div class="header-content">
        <div class="logo-section">
            <img src="assets/img/dark-circle.png" alt="">
            <p style="color: white;">T.Thiele</p>
            <p class="developer">developer</p>
        </div>

        <nav>
            <a *ngIf="isOnLegalNoticePage(); else normalLinks" [routerLink]="['/']" fragment="why-me">{{ t('nav.whyMe') }}</a>
            <a *ngIf="isOnLegalNoticePage(); else normalLinks2" [routerLink]="['/']" fragment="skills">{{ t('nav.skills') }}</a>
            <a *ngIf="isOnLegalNoticePage(); else normalLinks3" [routerLink]="['/']" fragment="my-projects">{{ t('nav.projects') }}</a>
            <a *ngIf="isOnLegalNoticePage(); else normalLinks4" [routerLink]="['/']" fragment="contacts">{{ t('nav.contact') }}</a>

            <ng-template #normalLinks><a href="#why-me">{{ t('nav.whyMe') }}</a></ng-template>
            <ng-template #normalLinks2><a href="#skills">{{ t('nav.skills') }}</a></ng-template>
            <ng-template #normalLinks3><a href="#my-projects">{{ t('nav.projects') }}</a></ng-template>
            <ng-template #normalLinks4><a href="#contacts">{{ t('nav.contact') }}</a></ng-template>
        </nav>
        
        <div class="buttons-section">
            <button (click)="setLanguage('en')" [class.active]="currentLang === 'en'">EN</button>
            <button (click)="setLanguage('de')" [class.active]="currentLang === 'de'">DE</button>
        </div>
    </div>
</header>