<header>
    <div class="header-content">
        <div class="logo-section">
            <img src="assets/img/dark-circle.png" alt="">
            <p style="color: white;">T.Thiele</p>
            <p class="developer">developer</p>
        </div>

        <nav>
            <a href="#why-me">{{ t('nav.whyMe') }}</a>
            <a href="#skills">{{ t('nav.skills') }}</a>
            <a href="#my-projects">{{ t('nav.projects') }}</a>
            <a href="#contacts">{{ t('nav.contact') }}</a>
        </nav>
        
        <div class="buttons-section">
            <button (click)="setLanguage('en')" [class.active]="currentLang === 'en'">EN</button>
            <button (click)="setLanguage('de')" [class.active]="currentLang === 'de'">DE</button>
        </div>
    </div>
</header>