header {
    background-color: #89bcd9;
    height: 80px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

    .smalllogo {
        font-size: 14px;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        margin-left: 100px;
        margin-right: 100px;

        a {
            color: #262e34;
            text-decoration: none;
            margin: 0 15px;
            font-size: 18px;
            font-weight: bold;

            &:hover {
                color: white;
            }
        }
    }
}