footer {
    background-color: #89bcd9;
    width: 100%;
    height: 60px;
    bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262e34;
}