<footer>
    <div class="footer-content">
        <div class="fistdiv">
            <a href="/legal-notice" target="_blank">{{ t('footer.legalNotice') }}</a> <br>
            <span>© Tim Thiele 2026</span>
        </div>

        <div class="logo-section">
            <img src="assets/img/dark-circle.png" alt="Logo in Dark">
            <p style="color: white; margin-top: 0px;">T.Thiele</p>
            <p style="color: #262e34; margin-top: -18px;">developer</p>
        </div>

        <div class="footerlinks desktop-only">
            <a href="https://github.com/Greedrache"><img src="assets/img/Github button.png" alt="My Github"></a>
            <a href="#"><img src="assets/img/Mail.png" alt="My Email"></a>
            <a href="#"><img src="assets/img/Vector.png" alt="My LinkedIn"></a>
        </div>

        <div class="footerlinks mobile-only">
            <a href="https://github.com/Greedrache"><img src="assets/img/github-white.png" alt="My Github"></a>
            <a href="#"><img src="assets/img/email-white.png" alt="My Email"></a>
            <a href="#"><img src="assets/img/linkin-white.png" alt="My LinkedIn"></a>
        </div>
    </div>
</footer>