.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    flex-direction: row;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;

    div {
        width: 50%;
    }
}

.email-tel-div {
    margin-bottom: 60px;
}

button {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    padding: 10px 20px;
    color: #89bcd9;
    text-decoration: none;
    border: 1px solid #89bcd9;
    background-color: transparent;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;

    &:hover {
        background-color: #3f4b54;
    }
}

.icons {
    width: 20px;
    height: auto;
    margin-right: 3px;
    margin-left: 30px;
    margin-bottom: -3px;
}

.input-section {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;

    p {
        font-size: 12px;
        color: #89bcd9;
        margin-bottom: 0px;
        margin-left: 16px;
    }

    input,
    textarea {
        padding: 12px;
        resize: none;
        overflow: hidden;
        width: 100%;
        color: white;
        border-radius: 20px;
        border: 1px solid #89bcd9;
        background-color: transparent;
        font-family: 'Josefin Sans', sans-serif;
        box-sizing: border-box;

        &:focus {
            background-color: #3f4b54;
            border: 1px solid #89bcd9;
        }
    }
}

.smallinputs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;

    nav {
        width: 50%;
    }


}

.biginput {

    input {
        padding-bottom: 100px !important;
    }

    span {
        font-size: 12px;
        color: white;
        margin-left: 4px;
    }

    a {
        color: #89bcd9;
        text-decoration: none;
    }

}

@media (max-width: 768px) {
    .infos {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;

        div {
            width: 100%;
        }
    }

    .input-section {
        margin-left: 20px;
        margin-right: 20px;
    }

    .smallinputs {
        flex-direction: column;
        gap: 16px;

        nav {
            width: 100%;
        }
    }

    .icons {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .infos {
        margin-left: 15px;
        margin-right: 15px;
    }

    .input-section {
        margin-left: 15px;
        margin-right: 15px;
    }
}