<h2 id="contacts">{{ t('contact.title') }}</h2>
<section class="infos">
    <div>
        <span>{{ t('contact.intro') }}</span>
    </div>

    <div class="email-tel-div">
      <img class="icons" src="assets/img/email-icon.png" alt=""> Email: thieletim15&#64;gmail.com <br>
       <img class="icons" src="assets/img/phone-icon.png" alt="">  Tel: +49 1590 8600 791
    </div>
</section>

<section class="input-section">
  <form action="https://formspree.io/f/xkogdnvj" method="POST">
    <div class="smallinputs">
      <nav>
        <p>{{ t('contact.yourName') }}</p>
        <input type="text" name="name">
      </nav>

      <nav>
        <p>{{ t('contact.yourEmail') }}</p>
        <input type="email" name="email">
      </nav>
    </div>

    <div class="biginput">
      <nav>
        <p>{{ t('contact.yourMessage') }}</p>
        <textarea name="message"></textarea>
        <span>
          {{ t('contact.privacy') }} <a href="#">{{ t('contact.privacyPolicy') }}</a> {{ t('contact.privacyAgree') }}
        </span>
      </nav>
    </div>

    <button type="submit">{{ t('contact.send') }}</button>
  </form>
</section>
