.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
    flex-direction: row;

    div {
        width: 50%;
    }
}

.email-tel-div{
    margin-bottom: 60px;
}

.icons {
    width: 20px;
    height: auto;
    margin-right: 3px;
    margin-left: 30px;
    margin-bottom: -3px;
}

.input-section {
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;

    p {
        font-size: 12px;
        color: #89bcd9;
        margin-bottom: 0px;
        margin-left: 16px;
    }

    input {
        padding: 12px;
        width: 100%;
        color: white;
        border-radius: 20px;
        border: 1px solid #89bcd9;
        background-color: transparent;
        font-family: 'Josefin Sans', sans-serif;

        &:focus {
            background-color: #3f4b54;
            border: 1px solid #89bcd9;
        }
    }
}

.smallinputs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;

    nav {
        width: 50%;
    }


}

.biginput {

    input {
        padding-bottom: 100px !important;
    }

    span {
        font-size: 12px;
        color: white;
        margin-left: 4px;
    }

    a {
        color: #89bcd9;
        text-decoration: none;
    }

}