section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;

    div {
        width: 50%;

    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #89bcd9;
    text-align: center;
    justify-content: center;

    img {
        width: 48px;
        height: 48px;
        margin-bottom: 10px;
    }
}

.skill-direction {
    display: flex;
    flex-direction: column;
    gap: 32px;

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
        width: 100%;
    }
}

.python {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    font-size: 14px;
    img {
        width: 32px;
        height: 32px;
        text-align: center;
    }
}

.learning-skills {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;

}