section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;

    div {
        width: 50%;
        
    }
}

.skills{
    display: flex;
    flex-direction: column;
    color: #89bcd9;
    text-align: center;
    justify-content: center;

    img{
        width: 64px;
        height: auto;
        margin-bottom: 10px;
    }
}

.skill-direction{
    display: flex;
    flex-direction: column;
}