section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;

    div {
        width: 50%;
    }

    img {
        width: 36px;
        height: 36px;
        margin-bottom: 5px;
    }
}

.motivationtxt {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skill-direction {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .skills-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
        color: #89bcd9;
        text-align: center;
        justify-items: center;
        align-items: center;
    }
}

.python {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    font-size: 16px;

    img {
        width: 32px;
        height: 32px;
        text-align: center;
    }
}

.learning-skills {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 40px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 520px;
        height: 520px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: opacity 200ms ease;
        will-change: opacity;
        pointer-events: none;
    }

    &::before {
        background-image: url('../../assets/img/python-elipse.png');
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0deg);
        z-index: -2;
        background-size: 85% !important;
    }

    &::after {
        background-image: url('../../assets/img/python-hover.png');
        opacity: 0;
        transform: translate(-50%, -50%);
        background-size: cover !important;
        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover::before {
        opacity: 0;
    }
}

@media (max-width: 1100px) {
    section {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        div {
            width: 100%;
        }
    }

    .skills span {
        display: none;
    }


    .skills {
        display: flex;
        justify-content: center;
    }


    .skill-direction {
        .skills-row {
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
        }
    }

    .learning-skills {
        padding: 30px 20px;
        margin-top: 120px;

        &::before,
        &::after {
            width: 520px;
            height: 540px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &::before {
            background-image: url('../../assets/img/python-elipse.png');
            opacity: 1;
            background-size: 85% !important;
        }

        &::after {
            background-image: url('../../assets/img/python-hover.png');
            opacity: 0;
        }
    }
}

@media (max-width: 480px) {
    section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .skill-direction {
        .skills-row {
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
        }
    }

    .skills {
        font-size: 16px;

        img {
            width: 28px;
            height: 28px;
        }
    }

    .learning-skills {

        &::before,
        &::after {
            width: 480px;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        &::before {
            background-image: url('../../assets/img/python-elipse.png');
            opacity: 1;
            background-size: 85% !important;
        }

        &::after {
            background-image: url('../../assets/img/python-hover.png');
            opacity: 0;
        }
    }

    .motivationtxt {
        max-width: 250px;
    }
}