section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;

    div {
        width: 50%;

    }
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #89bcd9;
    text-align: center;
    justify-content: center;
    font-size: 12px;

    img {
        width: 36px;
        height: 36px;
        margin-bottom: 5px;
    }
}

.motivationtxt {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skill-direction {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .skills-row {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        width: 100%;
    }
}

.python {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    font-size: 14px;

    img {
        width: 32px;
        height: 32px;
        text-align: center;
    }
}

.learning-skills {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    position: relative;
    padding: 40px;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 380px;
        height: 380px;
        background-color: #2d383f;
        border-radius: 50%;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;

        div {
            width: 100%;
        }
    }

    .skills span {
        display: none;
    }

 

    .skill-direction {
        .skills-row {
            grid-template-columns: repeat(4, 1fr);
            gap: 15px;
        }
    }

    .learning-skills {
        padding: 30px 20px;

        &::before {
            width: 380px;
            height: 380px;
        }
    }
}

@media (max-width: 480px) {
    section {
        margin-left: 15px;
        margin-right: 15px;
    }

    .skill-direction {
        .skills-row {
            grid-template-columns: repeat(4, 1fr);
            gap: 8px;
        }
    }

    .skills {
        font-size: 10px;

        img {
            width: 28px;
            height: 28px;
        }
    }

    .learning-skills {
        &::before {
            width: 350px;
            height: 380px;
        }
    }

    .motivationtxt {
        max-width: 250px;
    }
}