<h2 id="skills">My Skills</h2>

<section>
    <div class="skill-direction">
        <div class="skills-row">
            <div class="skills"><img src="assets/img/angular.png" alt=""><span>Angular</span></div>
            <div class="skills"><img src="assets/img/typescript.png" alt=""><span>TypeScript</span></div>
            <div class="skills"><img src="assets/img/javascript.png" alt=""><span>JavaScript</span></div>
            <div class="skills"><img src="assets/img/html.png" alt=""><span>HTML</span></div>
            <div class="skills"><img src="assets/img/css.png" alt=""><span>CSS</span></div>
            <div class="skills"><img src="assets/img/Api.png" alt=""><span>REST-API</span></div>
            <div class="skills"><img src="assets/img/firebase.png" alt=""><span>Firebase</span></div>
            <div class="skills"><img src="assets/img/git.png" alt=""><span>Git</span></div>
        </div>
    </div>
    <div class="learning-skills">
        <p>I am currently learning</p>
        <p class="python"><img src="assets/img/python.png" alt="Python"><span>Python</span></p>
        <p class="motivationtxt">I’m motivated by continuously improving my skills and understanding how frontend and backend work together.
            While my focus is frontend, I learn Python as a complementary skill for more holistic development.</p>
    </div>
</section>