<h2 id="skills">My Skills</h2>

<section>
    <div class="skill-direction">
        <div>
            <div class="skills"><img src="assets/img/angular.png" alt="">Angular</div>
            <div class="skills"><img src="assets/img/typescript.png" alt="">TypeScript</div>
            <div class="skills"><img src="assets/img/javascript.png" alt="">JavaScript</div>
            <div class="skills"><img src="assets/img/html.png" alt="">HTML</div>
        </div>
        <div>
            <div class="skills"><img src="assets/img/css.png" alt="">CSS</div>
            <div class="skills"><img src="assets/img/Api.png" alt="">REST-API</div>
            <div class="skills"><img src="assets/img/firebase.png" alt="">Firebase</div>
            <div class="skills"><img src="assets/img/git.png" alt="">Git</div>
        </div>
    </div>
    <div class="learning-skills">
        <p>I am currently learning</p>
        <p class="python"><img src="assets/img/python.png" alt="Python">Python</p>
        <p>I’m motivated by continuously improving my skills and understanding how frontend and backend work together.
            While my focus is frontend, I learn Python as a complementary skill for more holistic development.</p>
    </div>
</section>