<div class="row">
    <section>
        <img class="blue-circle" src="/assets/img/blue-circle.png" alt="">
        <img class="myimg" src="/assets/img/tim.png" alt="">
    </section>

    <section>
        <img src="/assets/img/logo.png" alt="">
        <p style="color: white; margin-top: 0px;">T.Thiele</p>
        <p style="color: #89bcd9; margin-top: -18px;">developer</p>
        <h1>Tim Thiele</h1>
        <h2>FRONTEND DEVELOPER</h2>
         <a href="#why-me"><img src="/assets/img/arrowdown.png" alt=""></a>
    </section>
</div>