h1 {
    font-family: 'Anta', sans-serif;
    font-size: 64px;
}

h2 {
    font-size: 32px;
    color: white;
    margin-top: -20px;
    font-family: 'Josefin Sans', sans-serif;
}

.blue-circle{
    width: 450px;
    height: auto;
    background-color: #89bcd9;
    position: absolute;
    z-index: -1;
    rotate: 45deg;
    margin-top: 140px;
    margin-left: -20px;
    border-radius: 50%;

}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    z-index: 1;
    width: 50%;
}

.myimg {
    width: 450px;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}