h1{
    font-family: 'Anta', sans-serif;
    font-size: 64px;
}

h2{
    font-size: 32px;
    color: white;
    margin-top: -20px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myimg{
    width: 400px;
    height: auto;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}