h1 {
    font-family: 'Anta', sans-serif;
    font-size: 64px;
}

h2 {
    font-size: 32px;
    color: white;
    margin-top: -20px;
    font-family: 'Josefin Sans', sans-serif;
}

.arrow {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    color: #89bcd9;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.arrow:hover {
    background-color: #3f4b54;
}


.blue-circle {
    width: 450px;
    height: auto;
    background-color: #89bcd9;
    position: absolute;
    z-index: -1;
    rotate: 45deg;
    margin-top: 140px;
    margin-left: -20px;
    border-radius: 50%;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
    z-index: 1;
    width: 50%;
}

.myimg {
    width: 450px;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo-social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.logo-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    position: absolute;
    right:120px;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px;
    margin-bottom: 40px;

    a {
        display: block;

        img {
            width: 20px;
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    section {
        width: 100%;
        height: auto;
        min-height: 50vh;
        padding: 20px;
        box-sizing: border-box;
    }

    .myimg {
        width: 300px;
    }

    .blue-circle {
        width: 300px;
        margin-top: 100px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    .social-icons {
        position: relative;
        right: auto;
        flex-direction: row !important;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .myimg {
        width: 250px;
    }

    .blue-circle {
        width: 250px;
        margin-top: 80px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    section {
        padding: 10px;
    }
}