html,
body {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

body {
    background-color: #262e34;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
}

.content-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 400;
    color: #89bcd9;
    font-family: 'Anta', sans-serif;
    margin-top: 80px;
    scroll-margin-top: 100px;
}



html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Anta';
    src: url('assets/fonts/Anta-Regular.ttf') format('truetype');
}

@media (max-width: 768px) {
    h2 {
        font-size: 40px;
        margin-top: 60px;
        padding: 0 20px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 32px;
        margin-top: 40px;
    }
}