body{
    margin:0;
    background-color: #262e34;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #89bcd9;
    font-family: 'Anta', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
    font-family: 'Anta';
    src: url('/assets/fonts/Anta-Regular.ttf') format('truetype');
}