<div>
    <h2 id="why-me" data-aos="fade-left">{{ t('whyMe.title') }}</h2>
    <section data-aos="fade-left">
        <div class="my-location">
            <img src="assets/img/location.png" alt="">
            <h3 style="font-size: 24px;">
                <span style="color: #89bcd9;">{{ t('whyMe.location.first') }}</span>
                <span style="color: white;"> {{ t('whyMe.location.second') }}</span>
            </h3>
        </div>
        <div>
            <span style="font-size: 18px;">{{ t('whyMe.text') }}</span>
            <nav><a class="linkhrefs" href="#contacts">{{ t('whyMe.contact') }}</a></nav>
        </div>
    </section>
</div>