<h2 id="why-me">Why me</h2>
<section>
    <div class="my-location">
        <img src="assets/img/location.png" alt="">
        <h3><span style="color: #89bcd9;">I am </span>located in Montabaur</h3>
    </div>
    <div>
        <span>What I love about programming is that I can create websites and small games and present them to others. I
            especially enjoy working on layouts, design, and user interfaces in the frontend. When code doesn't work, I
            remain patient and often work intensively through problems until I find a solution. My goal is to start my
            career as a frontend developer with a long-term perspective as a full-stack developer.</span>
              <nav> <a class="linkhrefs" href="#contacts">Let's talk</a></nav>
    </div>
</section>