section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: row;

    div {
        width: 50%;
        
    }
}

.my-location {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.linkhrefs {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    color: #89bcd9;
    text-decoration: none;
    border: 1px solid #89bcd9;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;

    &:hover {
        background-color: #3f4b54;
    }
}